body {
  background-color: #87D1D4;
}

.WordToGuess {
  margin-bottom: 40px;
}

.NewGameButton, 
.NewGameButton:hover, 
.NewGameButton:active:focus, 
.NewGameButton:focus {
   background-color: #FF5722;
   color: #fff;
   border: none;
   border-radius: 0;
}

.wrong-guessed-letter {
  margin: 5px;
  color: red;
}
